.success-popup {
  display: none;
  position: fixed;
  z-index: 99999; /* Z-index aumentado para estar encima de todo */
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  background-color: rgba(117, 222, 133, 0.6);
  width: 50%;
  max-width: 250px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.success-content {
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: -15px;
  right: -6px;
  font-size: 20px;
  cursor: pointer;
}

#success-message {
  font-size: 18px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 14px;
  height: 35px;
  display: block;
}

.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-form h2 {
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
}

.blue-alert {
  background-color: #4a90e2; /* Color azul similar al botón de editar */
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.carousel {
  overflow: hidden;
}

.carousel ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap; /* Evita que las imágenes se envuelvan */
}

.carousel {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

.carousel-slide {
  flex-shrink: 0;
}
/*responsive */
@media (max-width: 640px) {
  /* Modificación del formulario de registro */
  #registration-form {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    
  }

  /* Reducir el tamaño de la ventana emergente */
  .success-popup {
   top:10%;
    max-width: 50%; /* Ajusta el ancho según sea necesario */
    padding: 5px; /* Ajusta el espaciado interno según sea necesario */
  }
  /* Reducir el tamaño de la fuente en la ventana emergente */
  .success-popup .success-content {
    font-size:14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
}

.text-blue {
  @apply text-blue-700 text-sm block w-full border border-gray-300 rounded-md py-1 px-2 focus:outline-none focus:border-blue-400
}