
image {
  @apply -mr-4 w-36 h-20 transition-transform transform-gpu hover:scale-110

}

body {
    font-family: Arial, sans-serif;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 60s linear infinite; /* Ajusta la velocidad y la duración según necesites */
  }
